@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

:root {
  --background-color: #17141d;
  --light-grey-text-color: #7a7a8c;
  --linear-gradient: linear-gradient(90deg, #ff8a00, #e52e71);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: white;
  font-family: "DM Mono", monospace;
}

a {
  text-decoration: none;
}

.card-list {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 350px;
  width: 300px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--background-color);
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
  margin: 0;
  cursor: pointer;
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover .card-header h2 {
  background: var(--linear-gradient);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: var(--light-grey-text-color);
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--light-grey-text-color);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: var(--light-grey-text-color);
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 4;
  stroke-linecap: round;
  pointer-events: none;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: var(--light-grey-text-color);
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: var(--linear-gradient);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  border-color: white;
}
